<div class="card">
  <p-dataview
    layout="grid"
    [value]="movies()"
    [paginator]="true"
    [rows]="20"
    [totalRecords]="totalRecords()"
    (onPage)="onPageChange($event)"
    emptyMessage=" "
  >
    <ng-template #grid let-items>
      <div
        class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-x-2 gap-y-10 justify-items-center"
      >
        @for (movie of items; track $index) {
        <movie [movie]="movie" />
        } @empty { @for (i of counterArray(16); track $index) {
        <skeleton />
        } }
      </div>
    </ng-template>
  </p-dataview>
</div>

@if (!movies()) {
<h1>NO DATA !!</h1>
}
