<div class="card">
  <p-dataview
    layout="grid"
    [value]="movies()"
    [paginator]="!!movies().length"
    [rows]="rows"
    [first]="first"
    [totalRecords]="totalRecords()"
    (onPage)="onPageChange($event)"
    emptyMessage=" "
  >
    <ng-template #grid let-items>
      <div
        class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-x-2 gap-y-10 justify-items-center"
      >
        @defer () { @for (movie of items; track $index) {
        <movie [movie]="movie" />
        } @empty {
        <empty />
        }} @placeholder(minimum 600ms) { @for (i of counterArray(rows); track
        $index) {
        <skeleton />
        } }
      </div>
    </ng-template>
  </p-dataview>
</div>
